<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <img src="/capstone-testing/20050.png" alt="Schedulfy" />
  </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav
    color="primary"
    #sidenav
    fxLayout="column"
    mode="over"
    opened="false"
    fxHide.gt-sm="true"
  >
    <div fxLayout="column">
      <!-- if permission level is Admin -->
      <a mat-button *ngIf="this.permission == 1" routerLink="manage-users"
        >Manage Users</a
      >
      <!-- if permission level is User -->
      <a mat-button routerLink="profile">Profile</a>
      <a mat-button routerLink="calendar">Calendar</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill> </mat-sidenav-content>
</mat-sidenav-container>
