<form
  #addEmpForm="ngForm"
  [formGroup]="addEmployeeForm"
  (ngSubmit)="onSubmit()"
>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Add Employee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col"><h3>Name</h3></div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First" formControlName="firstName" />
            <mat-error
              *ngIf="addEmployeeForm.controls['firstName'].hasError('required')"
            >
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last" formControlName="lastName" />
            <mat-error
              *ngIf="addEmployeeForm.controls['lastName'].hasError('required')"
            >
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col"><h3>Login</h3></div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="half-width">
            <input matInput placeholder="Username" formControlName="userName" />
            <mat-error
              *ngIf="addEmployeeForm.controls['userName'].hasError('required')"
            >
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="half-width">
            <input matInput placeholder="Password" formControlName="password" />
            <mat-error
              *ngIf="addEmployeeForm.controls['password'].hasError('required')"
            >
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col"><h3>Position</h3></div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group
            aria-labelledby=""
            class=""
            formControlName="position"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let position of positions"
              [value]="position"
            >
              {{ position }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col"><h3>Availability</h3></div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Monday starting availability"
              formControlName="monStartAvail"
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Monday ending availability"
              formControlName="monEndAvail"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Tuesday starting availability"
              formControlName="tuesStartAvail"
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Tuesday ending availability"
              formControlName="tuesEndAvail"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Wednesday starting availability"
              formControlName="wedStartAvail"
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Wednesday ending availability"
              formControlName="wedEndAvail"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Thursday starting availability"
              formControlName="thursStartAvail"
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Thursday ending availability"
              formControlName="thursEndAvail"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Friday starting availability"
              formControlName="friStartAvail"
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Friday ending availability"
              formControlName="friEndAvail"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Saturday starting availability"
              formControlName="satStartAvail"
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Saturday ending availability"
              formControlName="satEndAvail"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Sunday starting availability"
              formControlName="sunStartAvail"
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <input
              type="time"
              matInput
              placeholder="Sunday ending availability"
              formControlName="sunEndAvail"
            />
          </mat-form-field>
        </div>
      </div>

      <!-- TODO: make phone and email inputs strict type -->
      <div class="row">
        <div class="col"><h3>Contact</h3></div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="half-width">
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error
              *ngIf="addEmployeeForm.controls['email'].hasError('required')"
            >
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="half-width">
            <input
              matInput
              placeholder="Phone Number"
              formControlName="phone"
            />
            <mat-error
              *ngIf="addEmployeeForm.controls['phone'].hasError('required')"
            >
              Phone Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addEmployeeForm.valid"
      >
        Submit
      </button>
      <button type="button" mat-raised-button color="warn" (click)="onCancel()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
